In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
full_df = pd.read_csv("Output/full_data.csv")

In [3]:
full_df.head()

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,...,OCCUPATION_TYPE,CNT_FAM_MEMBERS,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,MONTH_BAL_AVG,STATUS
0,5008804,0,427500.0,2,3,3,1,-12005,-4542,1,...,0,2.0,0,1,0,1,0,1,0.066667,1
1,5008805,0,427500.0,2,3,3,1,-12005,-4542,1,...,0,2.0,0,1,0,1,0,1,0.071429,1
2,5008806,0,112500.0,2,1,4,2,-21474,-1134,1,...,2,2.0,0,1,0,1,0,1,0.000000,0
3,5008808,0,270000.0,4,1,0,2,-19110,-3051,1,...,3,1.0,1,0,1,0,0,1,0.000000,0
4,5008810,0,270000.0,4,1,0,2,-19110,-3051,1,...,3,1.0,1,0,1,0,0,1,0.000000,0