In [186]:
import pandas as pd
import numpy as np
from collections import Counter

from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

from sklearn.linear_model import LogisticRegression

import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [187]:
full_df = pd.read_csv("Output/full_data.csv")

In [188]:
full_df.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,...,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,STATUS
0,0,427500.0,2,3,3,1,-12005,-4542,1,1,...,0,0,2.0,0,1,0,1,0,1,1
1,0,427500.0,2,3,3,1,-12005,-4542,1,1,...,0,0,2.0,0,1,0,1,0,1,1
2,0,112500.0,2,1,4,2,-21474,-1134,1,0,...,0,2,2.0,0,1,0,1,0,1,0
3,0,270000.0,2,1,0,2,-19110,-3051,1,0,...,1,3,1.0,1,0,1,0,0,1,0
4,0,270000.0,2,1,0,2,-19110,-3051,1,0,...,1,3,1.0,1,0,1,0,0,1,0

In [189]:
 #Separate the y variable, the labels
y = full_df["STATUS"]
y.value_counts()

0    28819
1     4291
Name: STATUS, dtype: int64

In [190]:
# Separate the X varloiable, the features

X  = full_df.drop(columns=['STATUS'])

In [191]:
# Review the y variable Series-
y

0        1
1        1
2        0
3        0
4        0
        ..
33105    1
33106    1
33107    1
33108    1
33109    1
Name: STATUS, Length: 33110, dtype: int64

In [192]:
# Review the X variable DataFrame
X = full_df.copy()
X.drop("STATUS", axis=1, inplace=True)
X.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y
0,0,427500.0,2,3,3,1,-12005,-4542,1,1,0,0,0,2.0,0,1,0,1,0,1
1,0,427500.0,2,3,3,1,-12005,-4542,1,1,0,0,0,2.0,0,1,0,1,0,1
2,0,112500.0,2,1,4,2,-21474,-1134,1,0,0,0,2,2.0,0,1,0,1,0,1
3,0,270000.0,2,1,0,2,-19110,-3051,1,0,1,1,3,1.0,1,0,1,0,0,1
4,0,270000.0,2,1,0,2,-19110,-3051,1,0,1,1,3,1.0,1,0,1,0,0,1

In [193]:
y = full_df["STATUS"].values.reshape(-1, 1)
y[:5]

array([[1],
       [1],
       [0],
       [0],
       [0]], dtype=int64)

In [194]:
print(f"Labels (y)\n-----------------\n{y}\n=================\n\n=================")
print(f"Features (X)\n-----------------\n{X}")

Labels (y)
-----------------
[[1]
 [1]
 [0]
 ...
 [1]
 [1]
 [1]]
=================

=================
Features (X)
-----------------
       CNT_CHILDREN  AMT_INCOME_TOTAL  NAME_INCOME_TYPE  NAME_EDUCATION_TYPE  \
0                 0          427500.0                 2                    3
1                 0          427500.0                 2                    3
2                 0          112500.0                 2                    1
3                 0          270000.0                 2                    1
4                 0          270000.0                 2                    1
...             ...               ...               ...                  ...
33105             0          315000.0                 2                    1
33106             0          157500.0                 2                    3
33107             0          157500.0                 1                    3
33108             0          283500.0                 2                    1
33109             0          112500.0                 2                    1

       NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0                       3                  1      -12005          -4542
1                       3                  1      -12005          -4542
2                       4                  2      -21474          -1134
3                       0                  2      -19110          -3051
4                       0                  2      -19110          -3051
...                   ...                ...         ...            ...
33105                   4                  2      -17348          -2420
33106                   4                  2      -12387          -1325
33107                   4                  2      -12387          -1325
33108                   4                  2      -17958           -655
33109                   0                  1       -9188          -1193

       FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL  OCCUPATION_TYPE  \
0               1                1           0           0                0
1               1                1           0           0                0
2               1                0           0           0                2
3               1                0           1           1                3
4               1                0           1           1                3
...           ...              ...         ...         ...              ...
33105           1                0           0           0                5
33106           1                0           1           1                6
33107           1                0           1           1                6
33108           1                0           0           0                3
33109           1                0           0           0                1

       CNT_FAM_MEMBERS  CODE_GENDER_F  CODE_GENDER_M  FLAG_OWN_CAR_N  \
0                  2.0              0              1               0
1                  2.0              0              1               0
2                  2.0              0              1               0
3                  1.0              1              0               1
4                  1.0              1              0               1
...                ...            ...            ...             ...
33105              2.0              0              1               0
33106              2.0              1              0               1
33107              2.0              1              0               1
33108              2.0              1              0               1
33109              1.0              0              1               1

       FLAG_OWN_CAR_Y  FLAG_OWN_REALTY_N  FLAG_OWN_REALTY_Y
0                   1                  0                  1
1                   1                  0                  1
2                   1                  0                  1
3                   0                  0                  1
4                   0                  0                  1
...               ...                ...                ...
33105               1                  0                  1
33106               0                  0                  1
33107               0                  0                  1
33108               0                  0                  1
33109               0                  0                  1

[33110 rows x 20 columns]

In [195]:
 # Splitting the data into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [196]:
 # Creating StandardScaler instance
scaler = StandardScaler()

In [197]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
#dataset=DataFrame(X_train_scaled)

In [198]:
#Fitting the Logistic Regression Model

from sklearn.linear_model import LogisticRegression


# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state=42)

# Fit the model using training data# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state=42)

# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, y_train)

In [199]:
# Make a prediction using the testing data
training_predictions = lr_model.predict(X_train)
testing_predictions = logistic_regression_model.predict(X_test)
print(f"Training Data Score: {logistic_regression_model.score(X_train, y_train)}")
print(f"Testing Data Score: {logistic_regression_model.score(X_test, y_test)}")

Training Data Score: 0.8691607603092784
Testing Data Score: 0.8741241845856487

In [200]:
from sklearn.metrics import balanced_accuracy_score, accuracy_score, confusion_matrix, classification_report

In [201]:
# Print the balanced_accuracy score of the model
train_balanced_accuracy=balanced_accuracy_score(y_train, training_predictions)
print(f"Train Accuracy Score : {train_balanced_accuracy}")
test_balanced_accuracy=balanced_accuracy_score(y_test, testing_predictions)
print(f"Test Accuracy Score : {test_balanced_accuracy}")

Train Accuracy Score : 0.5
Test Accuracy Score : 0.5

In [202]:
# Generate a confusion matrix for the model
#testing_matrix = confusion_matrix(y_test, testing_predictions)
#testing_matrix_df = pd.DataFrame(
#    testing_matrix, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
#)
#print("Confusion Matrix")
#display(testing_matrix_df)
# Calculating the accuracy score
accuracy_score1 = accuracy_score(y_test, testing_predictions)
print(f"Accuracy Score : {accuracy_score1}")

Accuracy Score : 0.8741241845856487

In [203]:
# Print the classification report for the model
print("Classification Report")
print(classification_report(y_test, testing_predictions))

Classification Report
              precision    recall  f1-score   support

           0       0.87      1.00      0.93      7236
           1       0.00      0.00      0.00      1042

    accuracy                           0.87      8278
   macro avg       0.44      0.50      0.47      8278
weighted avg       0.76      0.87      0.82      8278