In [60]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')
from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import balanced_accuracy_score, accuracy_score, confusion_matrix, classification_report

In [4]:
full_df = pd.read_csv("Output/full_data.csv")

In [5]:
full_df.head()

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,...,OCCUPATION_TYPE,CNT_FAM_MEMBERS,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,MONTH_BAL_AVG,STATUS
0,5008804,0,427500.0,2,3,3,1,-12005,-4542,1,...,0,2.0,0,1,0,1,0,1,0.066667,1
1,5008805,0,427500.0,2,3,3,1,-12005,-4542,1,...,0,2.0,0,1,0,1,0,1,0.071429,1
2,5008806,0,112500.0,2,1,4,2,-21474,-1134,1,...,2,2.0,0,1,0,1,0,1,0.000000,0
3,5008808,0,270000.0,4,1,0,2,-19110,-3051,1,...,3,1.0,1,0,1,0,0,1,0.000000,0
4,5008810,0,270000.0,4,1,0,2,-19110,-3051,1,...,3,1.0,1,0,1,0,0,1,0.000000,0

In [19]:
 #Separate the y variable, the labels
y = full_df["STATUS"]
y.value_counts()

0    28819
1     4291
Name: STATUS, dtype: int64

In [38]:
# Separate the X varloiable, the features

X  = full_df.drop(columns=['STATUS'])

In [39]:
# Review the y variable Series-
y

0        1
1        1
2        0
3        0
4        0
        ..
33105    1
33106    1
33107    1
33108    1
33109    1
Name: STATUS, Length: 33110, dtype: int64

In [46]:
# Review the X variable DataFrame
X = full_df.copy()
X.drop("STATUS", axis=1, inplace=True)
X.head()

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,...,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,CODE_GENDER_F,CODE_GENDER_M,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,MONTH_BAL_AVG
0,5008804,0,427500.0,2,3,3,1,-12005,-4542,1,...,0,0,2.0,0,1,0,1,0,1,0.066667
1,5008805,0,427500.0,2,3,3,1,-12005,-4542,1,...,0,0,2.0,0,1,0,1,0,1,0.071429
2,5008806,0,112500.0,2,1,4,2,-21474,-1134,1,...,0,2,2.0,0,1,0,1,0,1,0.000000
3,5008808,0,270000.0,4,1,0,2,-19110,-3051,1,...,1,3,1.0,1,0,1,0,0,1,0.000000
4,5008810,0,270000.0,4,1,0,2,-19110,-3051,1,...,1,3,1.0,1,0,1,0,0,1,0.000000

In [57]:
y = full_df["STATUS"].values.reshape(-1, 1)
y[:5]

array([[1],
       [1],
       [0],
       [0],
       [0]], dtype=int64)

In [58]:
#Step 4: Split the data into training and testing datasets by using train_test_split.

 # Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [61]:
 # Creating StandardScaler instance
scaler = StandardScaler()

In [62]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [72]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state=1)

# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train_scaled, y_train)

In [73]:
# Make a prediction using the testing data
training_predictions = lr_model.predict(X_train_scaled)
testing_predictions = logistic_regression_model.predict(X_test_scaled)
print(f"Training Data Score: {logistic_regression_model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {logistic_regression_model.score(X_test_scaled, y_test)}")

Training Data Score: 0.9980670103092784
Testing Data Score: 0.9983087702343562

In [74]:
from sklearn.metrics import balanced_accuracy_score, accuracy_score, confusion_matrix, classification_report

In [75]:
# Print the balanced_accuracy score of the model
train_balanced_accuracy=balanced_accuracy_score(y_train, training_predictions)
print(f"Train Accuracy Score : {train_balanced_accuracy}")
test_balanced_accuracy=balanced_accuracy_score(y_test, testing_predictions)
print(f"Test Accuracy Score : {test_balanced_accuracy}")

Train Accuracy Score : 0.9926312557568314
Test Accuracy Score : 0.9932301740812379

In [76]:
# Generate a confusion matrix for the model
testing_matrix = confusion_matrix(y_test, testing_predictions)
testing_matrix_df = pd.DataFrame(
    testing_matrix, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)
print("Confusion Matrix")
display(testing_matrix_df)
# Calculating the accuracy score
accuracy_score1 = accuracy_score(y_test, testing_predictions)
print(f"Accuracy Score : {accuracy_score1}")

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         7244            0
Actual 1           14         1020

Accuracy Score : 0.9983087702343562

In [78]:
# Print the classification report for the model
print("Classification Report")
print(classification_report(y_test, testing_predictions))

Classification Report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      7244
           1       1.00      0.99      0.99      1034

    accuracy                           1.00      8278
   macro avg       1.00      0.99      1.00      8278
weighted avg       1.00      1.00      1.00      8278